<script>
  import { arr } from "../Data/workouts";
  import { sets, cap, temp, maxSets, timeLeft } from "../Data/stores.js";
  import Start from "./Start.svelte";
  import Workout from "./Workout.svelte";
  import Done from "./Done.svelte";

  let workouts = JSON.parse(JSON.stringify(arr)); //workouts [] = deep copy of arr
  let movement = workouts[Math.floor(Math.random() * workouts.length)]; // movement {} = a random movement pattern from the workouts array
  let exercise = movement.exercises[movement.set]; // exercise [] = the first exercise in the arr
  let reps = Math.floor(Math.random() * (20 - 11) + 11); // reps = randomly generated reps from 10 - 20

  const generateExercise = () => {
    movement.set++; //increment set properly of movement{}
    reps = Math.floor(Math.random() * (20 - 11) + 11); // reps = randomly generated reps from 10 - 20
    movement = workouts[Math.floor(Math.random() * workouts.length)]; // movement {} = a random movement pattern from the workouts array

    if (movement.set >= $cap) {
      workouts = workouts.splice(1, workouts.length - 1);
      movement = workouts[Math.floor(Math.random() * workouts.length)];
    }
    exercise = movement.exercises[movement.set % movement.exercises.length];
    $sets++;
    $timeLeft = 0;
  };

  const onEnter = e => {
    if (e.key === "Enter") {
      if ($maxSets > 0) {
        generateExercise();
      } else {
        onSubmit();
      }
    }
  };

  const onSubmit = () => {
    $maxSets = $temp;
    $sets++;
  };

  const onReset = () => {
    $sets = 0;
    $maxSets = 0;
    workouts = JSON.parse(JSON.stringify(arr));
  };
</script>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
  :global(body) {
    /* this will apply to <body> */
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: #121212;
    padding-top: 100px;
  }
</style>

<svelte:window on:keyup={onEnter} />

{#if $sets == 0 && $maxSets == 0}
  <Start {onSubmit} />
{:else if $sets <= $maxSets}
  <Workout {generateExercise} {movement} {exercise} {reps} />
{:else}
  <Done {onReset} />
{/if}
