<script>
  export let onReset;
</script>

<style>
  .reset {
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    border: 0px;
    font-weight: bold;
    font-size: 50px;
  }

  .done {
    font-size: 100px;
    text-align: center;
  }

  @media only screen and (max-width: 453px) {
    .done {
      font-size: 50px;
    }
    .reset {
      padding: 10px;
      font-size: 25px;
    }
  }
</style>

<div class="done">
  <div>Congrats you're done! :)</div>

  <button class="reset" on:click={onReset}>Reset</button>
</div>
