<script>
  import { temp } from "../Data/stores.js";

  export let onSubmit;
</script>

<style>
  .input-container > * {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    color: #121212;
    font-weight: bold;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    border: 0px;
  }
  .submit {
    padding: 10px;
    border: 0px;
  }
  .begin {
    font-size: 50px;
    text-align: center;
    line-height: 1;
  }
</style>

<div class="begin">
  <div class="title">How many total sets would you like to do?</div>

  <div class="input-container">
    <input bind:value={$temp} type="number" />
    <button class="submit" on:click={onSubmit}>Submit</button>
  </div>
</div>
