<script>
  import { timeLeft } from "../Data/stores.js";
  const WARNING_THRESHOLD = 60;
  const ALERT_THRESHOLD = 30;

  const COLOR_CODES = {
    info: {
      color: "green"
    },
    warning: {
      color: "orange",
      threshold: WARNING_THRESHOLD
    },
    alert: {
      color: "red",
      threshold: ALERT_THRESHOLD
    }
  };
  let remainingPathColor = COLOR_CODES.info.color;

  let TIME_LIMIT = 120;
  const FULL_DASH_ARRAY = 283;

  let timePassed = 0;
  $timeLeft = TIME_LIMIT;
  const formatTimeLeft = time => {
    const minutes = Math.floor(time / 60);

    let seconds = time % 60;

    if (seconds < 10) {
      seconds = `0${seconds}`;
    }

    return `${minutes}:${seconds}`;
  };
  let timerInterval = null;

  const startTimer = () => {
    timerInterval = setInterval(() => {
      timePassed = timePassed += 1;
      if ($timeLeft > 0) {
        $timeLeft = TIME_LIMIT - timePassed;
        setCircleDasharray();
        setRemainingPathColor($timeLeft);
      } else {
        clearInterval(timerInterval);
      }
    }, 1000);
  };

  startTimer();

  const calculateTimeFraction = () => {
    const rawTimeFraction = $timeLeft / TIME_LIMIT;
    return rawTimeFraction - (1 / TIME_LIMIT) * (1 - rawTimeFraction);
  };

  const setCircleDasharray = () => {
    const circleDasharray = `${(
      calculateTimeFraction() * FULL_DASH_ARRAY
    ).toFixed(0)} 283`;

    console.log(circleDasharray);
    document
      .getElementById("base-timer-path-remaining")
      .setAttribute("stroke-dasharray", circleDasharray);
  };

  const setRemainingPathColor = $timeleft => {
    const { alert, warning, info } = COLOR_CODES;

    if ($timeLeft <= alert.threshold) {
      document
        .getElementById("base-timer-path-remaining")
        .classList.remove(warning.color);
      document
        .getElementById("base-timer-path-remaining")
        .classList.add(alert.color);
    } else if ($timeLeft <= warning.threshold) {
      document
        .getElementById("base-timer-path-remaining")
        .classList.remove(info.color);
      document
        .getElementById("base-timer-path-remaining")
        .classList.add(warning.color);
    }
  };
</script>

<style>
  .base-timer {
    position: relative;
    height: 300px;
    width: 300px;
    margin: auto;
  }
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: gray;
  }
  .base-timer__label {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 50px;
  }
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    stroke: currentColor;
  }
  .base-timer__svg {
    transform: scaleX(-1);
  }
  .base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
  }

  .base-timer__path-remaining.orange {
    color: orange;
  }

  .base-timer__path-remaining.red {
    color: red;
  }
</style>

<div class="base-timer">
  <svg
    class="base-timer__svg"
    viewBox="0 0 100 100"
    xmlns="http://www.w3.org/2000/svg">
    <g class="base-timer__circle">
      <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45" />
      <path
        id="base-timer-path-remaining"
        stroke-dasharray="283"
        class={'base-timer__path-remaining' + ' ' + remainingPathColor}
        d=" M 50, 50 m -45, 0 a 45,45 0 1,0 90,0 a 45,45 0 1,0 -90,0 " />
    </g>
  </svg>
  <span class="base-timer__label">{formatTimeLeft($timeLeft)}</span>
</div>
