<script>
  import { sets, cap, temp, maxSets } from "../Data/stores.js";

  import Timer from "./Timer.svelte";

  export let generateExercise;
  export let movement;
  export let reps;
  export let exercise;
</script>

<style>
  @media only screen and (max-width: 453px) {
    .container {
      width: 100%;
    }
  }
  .container {
    margin: auto;
    background-color: #272727;
    height: 534px;
    width: 453px;
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
  .top {
    text-align: center;
    margin-bottom: 100px;
  }
  .top > * {
    margin: 5px;
    line-height: 1;
  }

  .title {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .set {
    font-size: 30px;
  }
  .category {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .reps {
    font-size: 20px;
  }
  .options {
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    margin: 5px;
    text-align: center;
    text-transform: uppercase;
  }
  ul {
    font-size: 20px;
  }
</style>

<div class="container" on:click={generateExercise}>
  {#if reps == 11}
    <div class="rest">
      <div class="title">rest</div>
      <Timer />
    </div>
  {:else}
    <div class="top">
      <div class="set">set {$sets}</div>
      <div class="category">{movement.title}</div>
      <div class="reps">{reps} reps</div>
    </div>

    <div class="bottom">
      <div class="variations">
        <div class="options">options</div>
        <ul>
          {#each exercise as exercise}
            <li>{exercise}</li>
          {/each}
        </ul>
      </div>
    </div>
  {/if}

</div>
